.App {
	text-align: center;
	font-family: "Poppins", sans-serif;
}
.title {
	color: #ffc300;
}
.sub-box {
	height: 55vh;
	width: 40vw;
	border-width: 5px;
	border-color: #fff;
	border-radius: 24px;
	text-align: left;
}
.form_group {
	position: relative;
	padding: 15px 0 0;
	margin-top: 10px;
	width: 50vw;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.input {
	height: 2rem;
	width: 12rem;
	/* margin: 0 6rem; */
	border: 0;
	border-bottom: 2px solid white;
	outline: 0;
	font-size: 1.3rem;
	color: #fff;
	padding: 7px 0;
	background: transparent;
	transition: border-color 0.2s;

	&::placeholder {
		color: #ffc300;
	}

	&:placeholder-shown ~ .form_label {
		font-size: 1.3rem;
		cursor: text;
		top: 20px;
	}
}

.form_label {
	position: absolute;
	top: 0;
	display: block;
	transition: 0.2s;
	font-size: 1rem;
	color: transparent;
}

.input:focus {
	~ .form_label {
		position: absolute;
		top: 0;
		display: block;
		transition: 0.2s;
		font-size: 1rem;
		color: #ffc300;
		font-weight: 700;
	}

	padding-bottom: 6px;
	font-weight: 700;
	border-width: 3px;
	border-image: linear-gradient(to right, #ffc300, #ffffff);
	border-image-slice: 1;

	&::placeholder {
		color: transparent;
	}
}

.input {
	&:required,
	&:invalid {
		box-shadow: none;
	}
}

.button {
	padding: 0.5rem;
	width: 6rem;
	cursor: pointer;
	font-size: 1rem;
	font-weight: 700;
	color: #282c34;
	border-radius: 8px;
	outline: none;
	border: 0;
}

.text {
	font-size: 1.2rem;
	margin: 5rem;
}

.head {
	font-size: 2rem;
}

.bold {
	color: #ffc300;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #212121;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
	width: 100vw;
	overflow: hidden;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
